.normal {
  background-color: #EEEEEE;
  height: 100%;
  margin: 0px; 
  padding: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
}

.children {
  margin: 0 auto;
  top: 100px;
  position: relative;
}